<div class="container col-lg-12">
  <div class="card">
    <div class="card-body">
      <table class="table table-striped table-bordered table-sm row-border hover" datatable>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of data">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td> <a [routerLink]="['/edit', user.uid]">Edit</a></td>
            <td class="text-center"><button class="btn btn-primary" (click)='deleteUser(user.uid)'>Delete</button></td>
          </tr>
        </tbody>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>