<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body bgcolor="#f7f7f7">
<table align="center" cellpadding="0" cellspacing="0" class="container-for-gmail-android" width="100%" style="border: solid 1px #E5E5E5;">
  <tbody>
  <tr>
    <td align="center" valign="top" width="100%" style="background-color: #f7f7f7;" class="content-padding">
      <center>
        <table cellspacing="0" cellpadding="0" width="600" class="w320">
          <tbody><tr>
            <td class="header-lg">
              <a class="navbar-brand pn ml30 mt10" href="<%=sails.config.APIURL%>/login">
                 <img id='sLogo' src="<%=sails.config.APIURL%>/images/logo.jpeg" title="Shell Logo" class="pull-center" style='height:45px; margin-bottom:-25px !important;'>
              </a>
            </td>
          </tr>
          <tr>
            <td class="mini-block-container">
              <table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:separate !important;">
                <tbody><tr>
                  <td class="mini-block">
                    <table cellpadding="0" cellspacing="0" width="100%">
                      <tbody><tr>
                        <td>
                          <table cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                            <tr>
                              <td class="user-msg">
                                <p style="text-align: justify;"><b><%= name %></b>, welcome to the shell application.</p>
                                  <p style="text-align: justify;">-- Shell Application Admin</p>
                              </td>
                            </tr>
                          </tbody></table>
                        </td>
                      </tr>
                    </tbody></table>
                  </td>
                </tr>
              </tbody></table>
            </td>
          </tr>
        </tbody></table>
      </center>
    </td>
  </tr>
</tbody></table>


</body></html>